/* Стиль для прелоадера (завантажувальний екран) */
#preloader {
  position: fixed; /* Фіксоване позиціонування на екрані */
  width: 100%; /* Заповнює всю ширину екрана */
  height: 100%; /* Заповнює всю висоту екрана */
  z-index: 999999; /* Поверх усіх інших елементів */
  background-color: #1a1d29; /* Темний фон */
  background-image: url('../assets/pre.svg'); /* Зображення прелоадера */
  background-repeat: no-repeat; /* Не повторює зображення */
  background-position: center; /* Вирівнює зображення по центру */
}

/* Елемент із цим ID не видно */
#preloader-none {
  opacity: 0; /* Прозорість 0 (невидимий) */
}

/* Забороняє прокручування сторінки, коли прелоадер активний */
#no-scroll {
  overflow: hidden; /* Прокрутку вимкнено */
  height: 100vh; /* Висота 100% від висоти екрана */
}
.translation-bg {
  background: url('../main/pages/img/bg-create.svg') no-repeat ;
  background-size: cover;
}