/* Стилізація смуги прокрутки для Webkit-браузерів */
::-webkit-scrollbar {
  width: 7px; /* Ширина смуги прокрутки */
}

/* Стилізація треку смуги прокрутки */
::-webkit-scrollbar-track {
  background: #2d1950; /* Фон треку смуги прокрутки */
}

/* Стилізація повзунка смуги прокрутки */
::-webkit-scrollbar-thumb {
  background: rgba(178, 121, 216, 0.959); /* Колір повзунка з фоном */
  border-radius: 12px; /* Округлення кутів повзунка */
}

/* Колір повзунка смуги прокрутки при наведенні */
::-webkit-scrollbar-thumb:hover {
  background: rgba(222, 130, 235, 0.911); /* Більш яскравий колір при наведенні */
  border-radius: 12px; /* Округлення кутів повзунка */
}
