/* Стилізація смуги прокрутки для Webkit-браузерів */
::-webkit-scrollbar {
  width: 7px; /* Ширина смуги прокрутки */
}

/* Стилізація треку смуги прокрутки */
::-webkit-scrollbar-track {
  background: rgba(25, 61, 79, 100); /* Фон треку смуги прокрутки */
}

/* Стилізація повзунка смуги прокрутки */
::-webkit-scrollbar-thumb {
  background: rgba(5, 180, 199, 100); /* Колір повзунка з фоном */
  border-radius: 12px; /* Округлення кутів повзунка */
}

/* Колір повзунка смуги прокрутки при наведенні */
::-webkit-scrollbar-thumb:hover {
  background: rgba(222, 130, 235, 0.911); /* Більш яскравий колір при наведенні */
  border-radius: 12px; /* Округлення кутів повзунка */
}
