.chat-page-wrapper {
    position: relative;
    z-index: -1;
    background-position: top center;
    background-repeat: no-repeat;
    padding-bottom: 30px !important;
    padding-top: 30px !important;
}

.chat-page-content {
    padding: 9rem 0 2rem !important;
    color: whitesmoke;
    text-align: left;
}

.chat-page {
    min-height: calc(100vh - 5vh);
    padding: 20px;
    /* background-color: #f5f5f5; */
    margin-top: 5vh;
    box-sizing: border-box;
}

.chat-container {
    display: flex;
    height: calc(100vh - 5vh - 40px);
    /* background: white; */
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 1200px;
    padding-top: 20px;
    margin: 0 auto;
}