.BookCartContainer {
  background-image: url("../pages/img/background.png");
  background-repeat: no-repeat;
  background-size: contain;
  padding: 20px 131px 168px 100px;
}

.BookDetailContainer {
  margin: 0 auto;
  width: 75%;
}
.headerBookDetail {
  display: flex;
  justify-content: flex-start;
}

.bookmarks {
  background-color: #050d11;
  padding: 0 30px;
  border-radius: 50px;
  font-size: 20px;
  height: 40px;
  color: #f58807;
  box-shadow: 1px 3px 25px rgb(197 110 17 / 73%);
}

.chaptertableAuthorRead {
  font-size: 14px;
  font-family: "Sofia Sans Semi Condensed";
  display: flex;
  align-items: center;
}
.mainInfoBook {
  display: flex;
  gap: 10px;
}
.tableBook tbody tr td {
  font-family: "Inter" !important;
  padding: 10px;
  font-size: 16px !important;
  color: #05b4c7;
}
.headerTableInfoBook {
  display: flex;
  margin-top: -50px;
  color: #a47b4c;
  position: relative;
  justify-content: center;
  padding-bottom: 50px;
}
.headerTableInfoBook p {
  font-size: 59px;
  margin-top: -26px;
  font-family: "Inter";
}
.headerTableInfoBook span {
  font-size: 39px;
}
.genres span,
.tags span,
.fandom span {
  border-radius: 5px !important;
}
.expandBtn {
  color: white !important;
}
.tableBook tbody tr:not(:last-child) {
  border-bottom: 1px solid #5e626c;
}
.footerBookCartUser {
  text-align: center;
}
.fanCoins {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  padding: 46px 42px 25px 42px;
  line-height: 23px;
  text-align: center;
  color: #fded01;
  background-image: url("../pages/img/thanks.svg");
}
.fanCoins span {
  font-size: 44px;
}
.fanCoins p {
  font-size: 16px;
}
.spanThanks {
  text-align: center;
  font-size: 16px;
  color: #f58807;
}
.raiting {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  font-size: 16px;
  text-transform: uppercase;
  color: #f58807;
}
.stars {
  display: flex;
}
.raitingBook {
  text-align: center;
}
.rightInfoBook {
  display: flex;
  margin-top: -80px;
  flex-direction: column;
  gap: 100px;
  align-items: center;
}
.translators {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 15px;
  color: #f58807;
  font-size: 16px;
  margin-bottom: 30px;
  border-radius: 5px;
  border: 1px solid;
  font-family: "Inter";
  margin-left: 40%;
}
.anotherInfoBook {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
/* DESC */
.headerDescBook {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.headerDescBook span,
.headerAnotherBooks span {
  font-size: 18px;
  font-weight: 600;
  color: #f58807;
  font-family: "Inter";
  text-transform: uppercase;
}
.lineHeaderDesc {
  width: 87%;
  background-color: #5e626c;
  height: 1px;
}
.lineHeaderDesc p,
.descBookDetail p {
  line-height: 24px;
  font-size: 16px;
  font-family: "Inter" !important;
  color: #05b4c7 !important;
}

.descBookDetail {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.anotherBooks {
  background-image: url("../pages/img/anothers_books.svg");
  background-size: contain;
  background-repeat: no-repeat;
  padding: 30px 0 100px;
  margin: 70px auto;
  width: 100%;
  background-position: center;
}

.headerAnotherBooks span {
  color: rgba(245, 136, 7, 0.7);
  font-size: 24px;
  text-transform: uppercase;
  font-family: "Inter";
  font-weight: 700;
}
.headerAnotherBooks {
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
.lineAnotherBooks {
  height: 1px;
  width: 75%;
  background-color: rgba(5, 180, 199, 0.5);
}
/* CHAPTERS */
.headerChapters {
  display: flex;
  align-items: center;
  padding-bottom: 30px;
  justify-content: space-between;
}
.leftHeaderChapters {
  display: flex;
  align-items: center;
  gap: 50px;
}
.headerDescBook {
}
.chaptertableAuthor thead tr th {
  font-family: "Sofia Sans Semi Condensed";
  font-size: 20px;
  color: #f58807;
}

.inputChapter {
  border: 1px solid #fff !important;
  border-radius: 5px;
  max-width: 55px;
  /* padding: 5px; */
  font-size: 20px;
  font-family: "Arizonia";
}
.chapterCheck {
  border-color: #f58807;
  margin-top: 0 !important;
}
.chapterCheck input[type="checkbox"]:checked {
  background: transparent !important;
  border-color: #f58807 !important;
}


.nameChapter {
  font-size: 20px;
  font-family: "Alleycat";
}
.editChapter,
.readChapter,
.trashChapter {
  display: flex;
  font-size: 20px;
  font-family: "Sofia Sans Semi Condensed";
  color: #069403;
  gap: 10px;
  align-items: center;
}

.trashChapter {
  color: #c90303;
}
.chapterCheck input[type="checkbox"]:checked::after {
  content: "✔";
  font-size: 16px;
  color: #f58807 !important;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
}
.numChapter {
  font-size: 20px;
}
.chaptertableAuthor th,
.chaptertableAuthor td {
  text-align: center;
  vertical-align: middle;
  padding: 10px;
}
.chaptertableReader th,
.chaptertableReader td {
  padding: 10px;
}
.chaptertableAuthor,
.chaptertableReader {
  width: 100%;
}
.chaptertableAuthor tbody tr,
.chaptertableReader tbody tr {
  display: table-row;
}
.trashChapter span {
  text-decoration: underline;
}
.chaptertableAuthor tbody tr {
  border-bottom: 1px solid #fff;
}
.chaptertableReader tbody tr {
  border-bottom: 1px solid #5e626c;
}



.CommentsSection {
  width: 75%;
  margin: 0 auto;
  position: relative;
}
.CommentsSection h2 {
  text-transform: uppercase;
  margin: 0 !important;
  border-color: #f58807 !important;
}
.inputComment {
  margin: 30px auto;
  width: 80%;
  color: #f58807;
  font-family: "Bad Script";
  border-radius: 40px;
  display: flex;
  padding: 10px 20px;
  align-items: center;
  justify-content: space-between;
  border: 1px solid;
}
.inputComment input::placeholder {
  color: #f58807;
}
.LeftFooter {
  position: absolute;
  left: -9%;
  bottom: -43%;
}
.RightFooter {
  position: absolute;
  right: -7%;
  bottom: -25%;
}
.CartBook {
  max-width: 380px;
  max-height: 100%;
  height: auto;
}
.tableBookMobile {
  display: none;
}
.chaptertableAuthorMobile {
  display: none;
}
@media (max-width: 1427px) {
  .headerBookDetail {
    justify-content: center;
  }
  .BookDetailContainer {
    width: 98%;
  }
}
@media (max-width: 1081px) {
  .chaptertableAuthor {
    display: none;
  }

  /* ////////////////// */
  .CartBook {
    max-width: 228px;
    max-height: auto;
    height: auto !important;
  }
  .mainInfoBook {
    flex-direction: column;
  }
  .rightInfoBook {
    margin-top: 0;
    flex-direction: row;
    gap: 58px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }
  .raiting {
    flex-direction: column;
  }
  .BookCartContainer {
    background-size: 114% auto;
    padding: 20px 31px 168px 100px;
  }
  .headerDescBook span,
  .headerAnotherBooks span {
    font-size: 15px;
  }
  .chapterCheck {
    justify-content: center;
  }
  .chaptertableAuthorMobile {
    display: revert-layer;
    width: 94%;
    background-color: rgb(5 180 199 / 18%);
    box-shadow: 4px -2px 47px 40px rgb(5 180 199 / 19%);
    /* padding: 20px; */
    margin: 23px auto;
    border-radius: 50px;
  }
  .chaptertableAuthorRead {
    background-color: #050d11;
    border-radius: 15px;
    padding: 10px 5px;
    color: #f58807;
    font-size: 20px;
    display: flex;
    font-family: "Alleycat";
    flex-direction: column;
  }
  .nameChapter {
    font-size: 18px !important;
    font-family: "Alleycat" !important;
  }
  .label {
    text-align: center;
  }
  .inputChapterBlock {
    text-align: center;
  }
  .blockNumbersMobile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .label {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #f58807;
    font-size: 13px;
    font-family: "Inter";
  }
  .chaptertableAuthorMobile {
    /* width: 100%; */
    border-collapse: collapse; /* Убираем пробелы между ячейками */
  }

  .chaptertableAuthorMobile td {
    padding: 6px;
    /* text-align: left; */
  }
  .blockMobileTable {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 30px;
  }
  .inputChapterBlock {
    text-align: center;
  }
  .trBookDetail {
    background-color: rgb(5 180 199 / 14%);
    box-shadow: 4px -2px 64px 70px rgb(5 180 199 / 14%);
  }
  .numChapter {
    font-family: "Inter";
    font-size: 14px;
  }
  .nameChapter {
    text-align: center;
  }
  .inputChapterBlock {
    position: relative;
    width: 55px;
  }
  .inputChapter {
    position: absolute;
    left: 0;
    top: 25%;
  }
  .buttonChapter {
    display: flex;
    justify-content: center;
  }
  .chaptertableAuthorRead {
    position: absolute;
  }
  .headerChapters {
    padding-bottom: 74px;
  }
}
@media (max-width: 1003px) {
  .LeftFooter,
  .RightFooter {
    display: none;
  }
}
@media (max-width: 920px) {
  .anotherBooks {
    background-size: 100% 100%;
  }
}
@media (max-width: 840px) {
  .lineHeaderDesc {
    width: 70%;
  }
  .anotherBooks {
    margin: 70px 0 70px -8px;
    width: 102%;
    background-size: 166% 100%;
  }
}
@media (max-width: 800px) {
  .tableBookMobile {
    display: flex;

    flex-direction: column;
    width: 35%;
    gap: 5px;
  }
  .tableBookMobileBlock {
    display: flex;
    flex-direction: column;
    border-radius: 43px;
    font-family: "Sofia Sans Semi Condensed";
    padding: 3px 25px;
    width: max-content;
    color: #05b4c7;
    font-size: 14px;
    border: 1px solid #05b4c7;
    align-items: center;
  }
  .rightMobile {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .leftMobile {
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }
  .BookCartContainer {
    background-size: 100% 100%;
    padding: 20px 87px 164px 78px;
  }
  .headerBookDetail {
    flex-wrap: wrap;
  }
  .tableBook tbody tr:nth-child(1),
  .tableBook tbody tr:nth-child(2),
  .tableBook tbody tr:nth-child(3),
  .tableBook tbody tr:nth-child(7),
  .tableBook tbody tr:nth-child(8),
  .tableBook tbody tr:nth-child(9) {
    display: none;
  }
  .tableBook {
    width: 100%;
    margin-top: -100px;
  }
  .rightInfoBook {
    gap: 15px;
  }
  .lineAnotherBooks {
    width: calc(70% - 20%);
  }
}
@media (max-width: 751px) {
  .headerTableInfoBook {
    justify-content: flex-end;
    padding-right: 2%;
  }
}
@media (max-width: 708px) {
  .bookmarks {
    font-size: 14px;
  }
}
@media (max-width: 620px) {
  .BookCartContainer {
    background-size: 100% 100%;
    padding: 20px 17px 104px 8px;
    width: 45%;
    margin-bottom: 130px;
  }
  .CartBook {
    max-width: 128px;
    margin: 0 auto;
  }
  .tableBookMobile {
    width: 50%;
  }
  .BookCartContainer {
    background-size: 113% 100%;
    padding: 20px 0px 104px 9px;
  }
  .headerTableInfoBook {
    margin-top: -35px;
    padding-bottom: 25px;
  }
  .headerTableInfoBook p {
    font-size: 28px;
    margin-top: -16px;
  }
  .headerTableInfoBook span {
    font-size: 22px;
  }
}
@media (max-width: 595px) {
  .CommentsSection {
    width: 95%;
  }
  .inputComment {
    width: 99%;
  }
  .inputComment input {
    font-size: 12px;
  }
}
@media (max-width: 560px) {
  .leftHeaderChapters {
    gap: 10px;
  }
  .headerChapters {
    gap: 27px;
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (max-width: 520px) {
  .trashChapter,
  .editChapter {
    gap: 0;
    font-size: 14px;
  }
  .chaptertableAuthorMobile {
    width: 86%;
  }
  .translators {
    margin-left: 0;
  }
  .novelTitleHomepage {
    font-size: 14px;
}
}
@media (max-width: 480px) {
  .anotherBooks {
  width: 103%;
  }
}

@media (max-width: 420px) {
  .tableBookMobile {
    width: 52%;
  }
}
