.book-create-container {
  color: rgb(255, 255, 255);
}
.book-create-container {
  max-width: 800px;
  padding: 20px;
}

.book-create-container h1 {
  margin-bottom: 30px;
}

.form-select[multiple] {
  height: 100px;
}

.image-preview {
  max-width: 200px;
  margin-top: 10px;
  border-radius: 5px;
}

.invalid-feedback {
  display: block;
}

.genres-container,
.tags-container,
.countries-container,
.fandoms-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.genre-item,
.tag-item,
.country-item,
.fandom-item {
  padding: 8px 16px;
  border-radius: 20px;
  /* background-color: #f0f0f0; */
  cursor: pointer;
  border: 1px solid;
  color: rgba(245, 136, 7, 0.5);
  transition: all 0.3sease;
}
.genres-container {
  height: 343px;
  align-items: center;
}
.genre-item:hover,
.tag-item:hover,
.country-item:hover,
.fandom-item:hover {
  color: #05b4c7;
  border-color: rgba(245, 136, 7, 0.5);
}
.tags-all {
  margin: 80px 0;
}
.sub-title-tags {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.sub-title-tags span {
  font-family: "Alleycat";
  font-style: normal;
  color: #f58807;
  font-size: 16px;
}
.sub-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}
.fandoms-container {
  margin-top: 72px;
  flex-wrap: wrap;
  gap: 33px;
  padding: 40px !important;
  display: flex;
  align-items: flex-start;
}
.container-button button {
  display: flex;
  margin: 0 auto;
  align-items: center;
  border-radius: 34px;
  color: #f58807;
  gap: 5px;
  border: 1px solid #f58807;
  padding: 5px 10px;
}
.tags-container {
  gap: 100px;
}
.line-sub-title-tags {
  height: 1px;
  border-bottom: 1px dashed #f58807;
  width: 91%;
}
.all-sub-ell {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}
.genre-item.selected,
.tag-item.selected,
.country-item.selected,
.fandom-item.selected {
  background-color: #007bff;
  color: rgb(7, 7, 7);
}

.genre-item.selected:hover,
.tag-item.selected:hover,
.country-item.selected:hover,
.fandom-item.selected:hover {
  background-color: #0056b3;
}
.first-block-create-book {
  /* width: 82%; */
  margin: 0 auto;
  padding-top: 70px;
}
.BookCreateContainer {
  width: 82%;
  margin: 0 auto;
}
.name-book {
  display: flex;
  gap: 30px;
}
.block-name-book {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.name-book-label {
  background-color: #050d11;
  width: max-content;
  padding: 5px 20px;
  border-radius: 25px;
  border: 1px solid;
  font-size: 16px;
  font-family: "Sofia Sans Semi Condensed";
  color: #f58807;
}
.container-name-book {
  display: flex;
  flex-direction: column;
}
.container-name-book {
  margin-left: 10px;
  margin-bottom: 12px;
  border-bottom: 1px solid rgba(245, 136, 7, 0.3);
  margin-top: 44px;
  border-radius: 0 26px;
  border-left: 1px solid rgba(245, 136, 7, 0.3);
}
.input-name-book {
  /* border-bottom: 19px; */
  min-height: 75px;
  border-radius: 0 26px;
  border: 1px solid rgba(245, 136, 7, 0.3) !important;
  background-color: rgba(5, 13, 17, 0.5) !important;
  margin-left: 5px;
  margin-top: -22px;
  margin-bottom: 5px;
  padding: 40px 24px 0;
  font-family: "Sofia Sans Semi Condensed";
  font-size: 16px;
  font-style: italic;
  /* padding: 10px; */
  /* border-radius: 26px; */
}
.block-name-book {
  position: relative;
}
.name-book-label {
  position: absolute;
}
.midle-first-block {
  display: flex;
  gap: 60px;
}
.last-block-first {
  display: flex;
  gap: 50px;
  padding-top: 60px;
  align-items: flex-start;
}
.all-content {
  background-color: rgba(159, 1, 1, 0.15);
  margin-top: -26px;
  padding: 24px;
  border-radius: 0 26px;
  border: rgba(245, 136, 7, 0.2) 1px solid;
}
.check-content {
  display: flex;
  gap: 15px;
  flex-direction: row-reverse;
  color: #f58807;
  font-family: "Sofia Sans Semi Condensed";
  font-size: 16px;
  padding: 0 5px;
  align-items: center;
  border-bottom: rgba(245, 136, 7, 0.3) 1px solid;
}
.header-book-genres {
  margin-bottom: 80px;
  margin-top: 150px;
  display: flex;
  border-bottom: 1px solid rgba(245, 136, 7, 1);
  justify-content: center;
}
.img-book {
  margin-top: 100px;
  /* width: 100%; */
}
.img-book.any {
  width: 100%;
}
.input-img.general {
  padding: 39px 46px;
}
.input-img {
  /* padding: 39px 46px; */
  height: 100%;
  width: 100%;
  background-color: rgba(5, 180, 199, 0.15);
}
.hidden-input {
  display: none;
}
.input-img span {
  text-align: center;
  font-size: 12px;
  color: #f58807;
}
.custom-file-upload {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  cursor: pointer;
  flex-direction: column;
}

.file-label {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  /* border: 1px solid; */
  flex-direction: column;
  border: 1px dashed #f58807;
  border-radius: 0 26px 26px 0;
  justify-content: center;
}
.circle_upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 81px;
  padding: 22px 24px;
  background-color: rgba(5, 13, 17, 0.5);
  border: 1px solid #f58807;
}
.all-img {
  display: flex;
  gap: 50px;
}
.another-input-name-book {
  height: 284px;
  width: auto;
  display: flex;
  padding: 30px;
  gap: 30px;
}
.save-book {
  position: relative;
  background-color: #050d11;
  border-radius: 25px;
  font-family: "Bad Script";
  color: #f58807;
  padding: 10px 30px;
}
.top-button {
  position: absolute;
  top: -21px;
  left: 14px;
}
.block-name-book.mobile {
  display: none;
}
.bottom-button {
  position: absolute;
  left: 14px;
  bottom: -20px;
  transform: rotate(180deg);
}
.another_img {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  align-items: center;
}
.create-name {
  width: max-content;
}
.create-name h2 {
  text-align: center;
}
@media (max-width: 1483px) {
  .BookCreateContainer {
    width: 95%;
  }
}
@media (max-width: 1340px) {
  .midle-first-block {
    display: flex;
    gap: 5px;
  }
}
@media (max-width: 1265px) {
  .another-input-name-book {
    height: auto !important;
    gap: 10px;
    flex-wrap: wrap;
  }
  .custom-file-upload.any-img {
    height: 204px;
    width: 22%;
  }
}
@media (max-width: 1070px) {
  .name-book-label.fandom {
    top: 0 !important;
  }
  .fandoms-container.input-name-book {
    padding: 70px 20px 40px 20px !important;
  }
  .input-name-book {
    background-color: rgba(5, 13, 17, 0.8) !important;
  }
  .block-name-book {
    min-height: 100px;
    background-color: rgba(5, 13, 17, 0.8) !important;
    border: 1px solid rgba(245, 136, 7, 0.3) !important;
    border-radius: 26px;
    justify-content: flex-end;
  }
  .name-book-label {
    background-color: transparent;
    width: max-content;
    margin-left: 0;
    border-radius: none;
    margin-top: 5px;
    border: none;
    font-size: 20px;
    padding-left: 20px;
    position: absolute;
    top: 6px;
  }
  .all-content {
    display: none;
  }
  .name-book-label.img_book {
    background-color: #050d11;
    border: 1px solid;
    top: -30px !important;
  }
  .all-img {
    padding-bottom: 100px;
  }
  .block-name-book.mobile {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .block-name-book.mobile .adult-content-checkbox input[type="checkbox"] {
    width: 50px;
    height: 50px;
  }
  .block-name-book.mobile
    .adult-content-checkbox
    input[type="checkbox"]:checked::after {
    font-size: 62px;
  }
  .block-name-book.mobile .form-check-label {
    font-size: 30px;
  }
  .block-name-book.mobile img {
    width: 40px;
  }
  .block-name-book.mobile .check-content {
    border-bottom: none;
    flex-direction: row;
  }
  .container-name-book {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    margin-bottom: 12px;
    border-bottom: none;
    margin-top: 0;
    padding: 0 20px;
    border-radius: 26px;
    border-left: none;
  }
  .last-block-first .block-name-book .input-name-book,
  .midle-first-block .block-name-book .input-name-book,
  .first-block-create-book .block-name-book .input-name-book {
    padding-left: 0;
    padding-top: 0;
    margin: 0;
    border-radius: 0 !important;
    background-color: transparent !important;
    border-bottom: 0;
    padding: 0;
    min-height: 0;
    border-radius: 0 26px;
    border: none !important;

    margin-left: 5px;
    margin-top: -22px;
    margin-bottom: 5px;

    font-family: "Sofia Sans Semi Condensed";
    font-size: 19px;
    border-bottom: 4px dotted #f58807 !important;
    font-style: italic;
  }
  .last-block-first .block-name-book .name-book-label {
    top: 0 !important;
  }
  .last-block-first .block-name-book .input-name-book {
    border-bottom: none !important;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .input-name-book.form-select {
    color: rgba(245, 136, 7, 0.5);
  }
  .header-book-genres {
    display: none;
  }
  .sub-title-tags {
    padding-top: 20px;
  }
  .line-sub-title-tags {
    width: 81%;
  }
  .tags-container.input-name-book {
    border-radius: 26px;
  }
  .name-book-label.tags {
    margin-top: -7px !important;
    padding: 5px 33px !important;
    font-size: 27px;
  }
  .genres-container.input-name-book {
    margin-top: 50px;
    padding: 40px 24px;
    gap: 5px;
    border-radius: 26px;
  }
  .name-book-label.genres {
    margin-top: -5px !important;
    padding: 5px 38px !important;
  }
  .name-book {
    gap: 0;
    flex-direction: column;
  }
  .midle-first-block .block-name-book {
    width: 49%;
  }
  .midle-first-block {
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media (max-width: 896px) {
  .custom-file-upload.any-img {
    height: 204px;
    width: 31%;
  }
  .block-name-book.mobile .form-check-label {
    font-size: 22px;
}
}
@media (max-width: 835px) {
  .genres-container {
    min-height: 543px;
    height: auto;
  }
}
@media (max-width: 735px) {
  .custom-file-upload.any-img {
    height: 204px;
    width: 48%;
  }
  .custom-file-upload.any-img:nth-child(6),
  .custom-file-upload.any-img:nth-child(5),
  .custom-file-upload.any-img:last-child {
    display: none;
  }
}
@media (max-width: 699px) {
  .custom-file-upload.any-img {
    height: 100px;
    width: 40%;
  }
  .input-img img {
    width: 30px;
  }
  .general-img .general-input-name-book {
    width: 220px !important;
    height: 296px !important;
  }
  .file-label {
    border-radius: 0 14px 14px 0;
  }
  .all-img {
    display: flex;
    gap: 10px;
  }
  .all-sub-ell, .fandoms-container {
    gap: 5px;
  }
}
@media (max-width: 517px) {
  .name-book-label {
    font-size: 16px;
  }
  .save-book {
    font-size: 14px;
  }
  .all-img {
    display: flex;
    gap: 10px;
    flex-direction: column;
  }
  .img-book.any {
    margin-top: 50px;
  }
}
@media (max-width: 482px) {
  .block-name-book.mobile .adult-content-checkbox input[type="checkbox"] {
    width: 30px;
    height: 30px;
}
.block-name-book.mobile .form-check-label {
  font-size: 16px;
}
.block-name-book.mobile {
  flex-direction: column;
}
}
