.breadcrumb__container {
  margin: 0 auto;
  padding: 0 4%;
  max-width: 1454px;
}

.breadcrumb__block {
  font-family: Inter, sans-serif;
}

.breadcrumb__block img {
  display: inline-block;
  margin: 0 10px;
}

.breadcrumb__container h2 {
  color: #f58807;
  font-size: 48px;
  font-family: Alleycat, sans-serif;
}

@media (max-width: 586px) {
  .breadcrumb__container h2 {
    font-size: 24px;
  }
  .breadcrumb__block a {
    font-size: 16px;
  }
}
