@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Sofia+Sans+Semi+Condensed:400|WindSong:500|Bad+Script:400|Inter:400");
/* The following line is used to measure usage of this code. You can remove it if you want. */
@import url("https://px.animaapp.com/673f6a9b1fedf1c6d1915fec.673f6a9c1fedf1c6d1915fef.3LxcGma.hcp.png");

.screen textarea:focus,
.screen input:focus {
  outline: none;
}

.screen * {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

.screen div {
  -webkit-text-size-adjust: none;
}

.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

* {
  box-sizing: border-box;
}

.navigation4 {
  background-color: transparent;
  height: 5.21vw;
  position: absolute;
  width: 5.21vw;
  cursor: pointer;
}

.navigation5 {
  background-color: transparent;
  height: 5.26vw;
  left: 0vw;
  cursor: pointer;
  position: absolute;
  width: 5.26vw;
}

.rectangle-3957 {
  background-color: var(--woodsmoke);
  /* filter: blur(5.21vw); */
  /* height: 7.24vw; */
  left: 0vw;
  /* position: absolute; */
  top: 0vw;
  width: 14.79vw;
}

.star_fill {
  background-color: transparent;
  height: 0.99vw;
  /* position: absolute; */
  top: 0vw;
  width: 0.99vw;
}

.star_light {
  background-color: transparent;
  height: 0.99vw;
  left: 4.79vw;
  /* position: absolute; */
  top: 0vw;
  width: 0.99vw;
}
/* screen - homepage-pc */

.homepage-pc {
  align-items: flex-start;
  background-color: var(--woodsmoke-2);
  display: flex;
  flex-direction: column;
  gap: 0.52vw;
  left: 0vw;
  overflow: hidden;
  overflow-x: hidden;
  padding: 1.08vw 9.17vw;
  position: relative;
  top: 0vw;
}

.homepage-pc .frame-123-hp28Hm {
  align-self: stretch;
  background-color: transparent;
  height: 40.62vw;
  position: relative;
  width: 100%;
}

.homepage-pc .x1-sr-g-lcht4s-1-rUQU7Z {
  background-color: transparent;
  height: 20.73vw;
  left: 17.33vw;
  object-fit: cover;
  position: absolute;
  top: 7.86vw;
  width: 14.79vw;
}

.homepage-pc .x3-1-rUQU7Z {
  background-color: transparent;
  height: 39.53vw;
  left: -0.43vw;
  position: absolute;
  top: -1.91vw;
  width: 59.48vw;
}

.homepage-pc .rating-rUQU7Z {
  background-color: transparent;
  height: 34.95vw;
  left: 5.57vw;
  display: flex;
  /* position: absolute; */
  top: 1.98vw;
  flex-direction: column;
  justify-content: space-between;
  /* width: 14.84vw; */
}

.homepage-pc .rating2-kpIWzg {
  background-color: transparent;
  height: 7.24vw;
  left: 0vw;
  /* position: absolute; */
  top: 27.71vw;
  /* width: 14.9vw;
   */
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: flex-end;
}

.homepage-pc .group-50-aNiaBw {
  background-color: transparent;
  /* height: 0.99vw; */
  left: 3.59vw;
  z-index: 2;
  /* position: absolute; */
  display: flex;
  top: 3.85vw;
  width: 5.78vw;
}

.homepage-pc .star_fill-hle15p {
  left: 3.59vw;
}

.homepage-pc .star_fill-nlSlgt {
  left: 2.4vw;
}

.homepage-pc .star_fill-Glaod1 {
  left: 1.2vw;
}

.homepage-pc .star_fill-BhyzBe {
  left: 0vw;
}

.homepage-pc .text_label-aNiaBw {
  left: 3.75vw;
  text-shadow: 0vw 0.21vw 0.21vw #00000040;
  top: 2.4vw;
  z-index: 10;
  width: auto;
}

.homepage-pc .rating1-kpIWzg {
  background-color: transparent;
  height: 7.24vw;
  left: 0.05vw;
  /* position: absolute; */
  top: 0vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 14.9vw; */
}

.homepage-pc .text_label-i2YPU0 {
  left: 3.54vw;
  text-shadow: 0vw 0.21vw 0.21vw #00000040;
  top: 1.77vw;
  width: auto;
}

.homepage-pc .group-49-i2YPU0 {
  background-color: transparent;
  /* height: 0.99vw; */
  left: 3.54vw;
  z-index: 10;
  display: flex;
  /* position: absolute; */
  top: 3.39vw;
  width: 5.78vw;
}

.homepage-pc .star_fill-aIXtUm {
  left: 3.59vw;
}

.homepage-pc .star_fill-MSv9cK {
  left: 2.4vw;
}

.homepage-pc .star_fill-9jjRNj {
  left: 1.2vw;
}

.homepage-pc .star_fill-Z6M2St {
  left: 0vw;
}
.text_label-S9xaSz.text_label.mobile,
.x-Si3ny5.mobile {
  display: none;
}
.homepage-pc .text-book-rUQU7Z {
  background-color: transparent;
  height: 26.93vw;
  left: 45.1vw;
  /* position: absolute; */
  top: 3.59vw;
  width: 29.84vw;
}

.homepage-pc .text-S9xaSz {
  background-color: transparent;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;

  /* position: absolute; */
  top: 0.16vw;
  width: max-content;
}

.homepage-pc .rectangle-3956-Si3ny5 {
  background-color: var(--woodsmoke);
  filter: blur(5.21vw);
  height: 26.77vw;
  left: 0vw;
  position: absolute;
  top: 0vw;
  width: 29.53vw;
}

.homepage-pc .x-Si3ny5 {
  -webkit-text-stroke: 0.01vw var(--pacific-blue-2);
  background-color: transparent;
  color: var(--pacific-blue-2);
  font-family: var(--font-family-bad_script);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 3.07vw;
  z-index: 10;
  letter-spacing: 0vw;
  line-height: Truepx;
  /* position: absolute; */
  text-align: left;
  top: 3.7vw;
  width: 26.67vw;
}

.homepage-pc .text_label-S9xaSz {
  color: var(--tangerine);
  font-family: var(--font-family-a_alleycaticg_alen_rus-regular);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 400;
  left: 6.41vw;
  top: 0vw;
  width: auto;
}

.homepage-pc .button-2-S9xaSz {
  background-color: transparent;
  height: 1.72vw;
  left: 12.03vw;
  position: absolute;
  top: 24.17vw;
  width: 5.52vw;
}
.container-home-page {
  display: flex;
  justify-content: space-between;
  margin: 60px auto;
  width: 90%;
}
.read_button {
  background-color: transparent;
  width: max-content;
  z-index: 10;
  padding: 3px 33px;
  box-shadow: -1px 1px 18px rgba(245, 136, 7, 0.6);
  border-radius: 26px;
  background-color: #050d11;
}

.homepage-pc .rectangle-6-dZjTXM {
  background-color: transparent;
  height: 4.84vw;
  left: -1.35vw;
  position: absolute;
  top: -1.35vw;
  width: 8.65vw;
}

.homepage-pc .text_label-dZjTXM {
  left: 1.25vw;
  text-shadow: 0vw 0.21vw 0.21vw #00000040;
  top: 0.1vw;
  width: auto;
}

.homepage-pc .navigation4-rUQU7Z {
  left: 76.41vw;
  top: 20.26vw;
}

.homepage-pc .navigation4-5fei5n {
  left: 0vw;
  top: 0vw;
}

.homepage-pc .navigation5-rUQU7Z {
  top: 20.05vw;
}

.homepage-pc .navigation5-AiCfdu {
  top: 0vw;
}

.homepage-pc .line-rUQU7Z {
  background-color: transparent;
  height: 1.3vw;
  left: 1.41vw;
  height: auto;
  display: flex;
  align-items: center;
  color: 05B4C7;
  justify-content: space-between;
  /* position: absolute; */
  top: 0vw;
  width: 73.85vw;
}
.homepage-pc .line-rUQU7Z h2 {
  color: #05b4c7;
  font-size: 31px;
}
.homepage-pc .text_label-ZCydxi {
  left: 0vw;
  top: -0.05vw;
  width: 8.44vw;
}

.homepage-pc .line-51-ZCydxi {
  background-color: transparent;
  height: 1px;
  left: 10.89vw;
  background-color: #05b4c7;
  object-fit: cover;
  /* position: absolute; */
  top: 0.83vw;
  width: 62.97vw;
}

.homepage-pc .text_label {
  background-color: transparent;
  height: auto;
  letter-spacing: 0vw;
  z-index: 10;
  font-family: "Alleycat";
  line-height: Truepx;
  /* position: absolute; */
  text-align: left;
  white-space: nowrap;
}

:root {
  --black: #000000;
  --dark: #5e626c;
  --nobel: #b3b1b1;
  --pacific-blue: #05b2c6;
  --pacific-blue-2: #05b4c7;
  --tangerine: #f58807;
  --white: #ffffff;
  --woodsmoke: #050d11e6;
  --woodsmoke-2: #050d11;

  --font-size-l: 21px;
  --font-size-m: 20px;
  --font-size-s: 16px;
  --font-size-xl: 24px;
  --font-size-xs: 14px;
  --font-size-xxl: 40px;
  --font-size-xxs: 12px;

  --font-family-a_alleycaticg_alen_rus-regular: "A.AlleycatICG.Alen.Rus-Regular",
    Helvetica;
  --font-family-bad_script: "Bad Script", Helvetica;
  --font-family-inter: "Inter", Helvetica;
  --font-family-sofia_sans_semi_condensed: "Sofia Sans Semi Condensed",
    Helvetica;
  --font-family-sofia_sans_semi_condensed-medium: "Sofia Sans Semi Condensed-Medium",
    Helvetica;
  --font-family-windsong: "WindSong", Helvetica;
}
.sofiasanssemicondensed-normal-nobel-16px {
  color: var(--nobel);
  font-family: var(--font-family-sofia_sans_semi_condensed);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.sofiasanssemicondensed-medium-pacific-blue-14px {
  color: var(--pacific-blue);
  font-family: var(--font-family-sofia_sans_semi_condensed-medium);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 500;
}

.a-alleycaticg-alen-rus-regular-normal-pacific-blue-24px {
  color: var(--pacific-blue-2);
  font-family: var(--font-family-a_alleycaticg_alen_rus-regular);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}

.a-alleycaticg-alen-rus-regular-normal-tangerine-20px {
  color: var(--tangerine);
  font-family: var(--font-family-a_alleycaticg_alen_rus-regular);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.sofiasanssemicondensed-normal-pacific-blue-12px {
  color: var(--pacific-blue);
  font-family: var(--font-family-sofia_sans_semi_condensed);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 400;
}
.book-img {
  display: none;
}
.a-alleycaticg-alen-rus-regular-normal-pacific-blue-31px {
  color: var(--pacific-blue-2);
  font-family: var(--font-family-a_alleycaticg_alen_rus-regular);
  font-size: 31px;
  font-style: normal;
  font-weight: 400;
}

@media (max-width: 1703px) {
  .homepage-pc .text_label-dZjTXM {
    top: -2px;
  }
}
@media (max-width: 1583px) {
  .homepage-pc .text_label-dZjTXM {
    top: -2px;
  }
}
@media (max-width: 1405px) {
  .homepage-pc {
    padding: 1.08vw 4.17vw;
  }
  .homepage-pc .navigation4-rUQU7Z {
    left: 86.41vw;
  }
  .homepage-pc .line-51-ZCydxi {
    width: 78.97vw;
  }
  .homepage-pc .line-rUQU7Z {
    width: 86.85vw;
  }
  .homepage-pc .text-book-rUQU7Z {
    width: 37.84vw;
  }
  .homepage-pc .x-Si3ny5 {
    width: 38.67vw;
    font-size: 16px;
  }
}
@media (max-width: 990px) {
  .homepage-pc .x3-1-rUQU7Z {
    display: none;
  }
  .text_label-S9xaSz.text_label.pc,
  .x-Si3ny5.pc {
    display: none;
  }
  .text_label-S9xaSz.text_label.mobile,
  .x-Si3ny5.mobile {
    display: block;
  }
  .homepage-pc .x1-sr-g-lcht4s-1-rUQU7Z {
    position: inherit;
  }
  .container-home-page {
    margin: 0;
  }
  .homepage-pc .rating-rUQU7Z {
    height: auto;
  }
  .homepage-pc .text-book-rUQU7Z {
    height: auto;
    width: auto;
  }
  .mobile-container-img {
    background-image: url("../pages/img/bg-homepages.svg");
  }
  .homepage-pc .frame-123-hp28Hm {
    height: auto;
  }
  .mobile-container-homepage {
    display: flex;
    flex-direction: column;
    margin: 54px auto;
    width: max-content;
    box-shadow: -2px 2px 100px 6px rgba(3, 59, 67, 1);

    background-color: rgb(3 59 67 / 52%);
    align-items: center;
    padding: 0;
    border-radius: 249px;
  }
  .mobile-container-img {
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    padding: 41px 53px 39px 40px;
    /* margin-bottom: 200px; */
    background-size: 102%;
    height: auto;
    height: 395px;
    width: 454px;
  }
  .book-img {
    display: block;
  }
  .container-home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .homepage-pc .x1-sr-g-lcht4s-1-rUQU7Z {
    background-color: transparent;
    height: 218px;

    object-fit: cover;
    border-radius: 0 26px 26px 0;

    width: 199px;
  }
  .book-img {
    width: 80px;
    padding-bottom: 25px;
  }
  .star_fill,
  .star_light {
    height: auto;
    width: 20px;
  }
  .homepage-pc .x-Si3ny5 {
    width: 61.67vw;
  }
  .navigation5-rUQU7Z.navigation5 {
    bottom: 34px;
    /* width: 100%; */
    padding-left: 73px;
    display: flex;
    height: auto;
    flex-direction: row-reverse;
    /* left: 50%; */
    justify-content: center;
  }
  .navigation5-AiCfdu.navigation5 {
    padding-right: 9px;
  }
  .navigation5,
  .navigation4 {
    height: auto;
    width: auto;
    position: initial;
  }
  .navigation4-rUQU7Z.navigation4 {
    display: flex;
  }
  .all-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .homepage-pc .group-49-i2YPU0,
  .homepage-pc .group-50-aNiaBw {
    width: auto;
  }
}
@media (max-width: 768px) {
  .homepage-pc .x-Si3ny5 {
    width: 90.67vw;
  }
  .book-img {
    padding-bottom: 0;
  }
  .homepage-pc .rating-rUQU7Z {
    gap: 10px;
  }
  .container-home-page {
    height: 250px;
  }
  .text_label-S9xaSz.text_label.mobile {
    display: block;
    font-size: 26px;
}
}

@media (max-width: 500px) {
  .mobile-container-img {
    padding: 41px 33px 39px 40px;
    /* margin-bottom: 200px; */
    background-size: 95%;
  }
  .homepage-pc .x1-sr-g-lcht4s-1-rUQU7Z {
    height: 176px;
    width: 123px;
  }
  .homepage-pc .rating-rUQU7Z {
    gap: 26px;
  }
}
@media (max-width: 460px) {
  .mobile-container-img {
    padding: 41px 33px 39px 40px;
    /* margin-bottom: 200px; */
    background-size: 95%;
  }
  .homepage-pc .x1-sr-g-lcht4s-1-rUQU7Z {
    height: 176px;
    width: 123px;
  }
  .mobile-container-img {
    padding: 41px 33px 0 40px;
    /* margin-bottom: 200px; */
    background-size: 95%;
    gap: 5px;
    height: 325px;
    width: 390px;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .container-home-page {
    height: 222px;
    width: max-content;
  }
}
