.homepage-wrapper {
  width: 100%;
  overflow-x: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-container {
  position: relative;
  width: 80%;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  flex: 1;
}  