.headerContainer {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    z-index: 1;
    padding: 0 80px;
    margin-bottom: 20px;
}

.advertisement {
    color: var(--text-color);
    white-space: nowrap;
    padding: 0 10px;
    font-size: 24px;
    font-weight: 500;
}

.line {
    flex: 1;
    height: 2px;
    background: var(--primary-color);
    margin-left: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 792px;
    width: 100%;
    padding: 35px 0 193px 0;
}

.backgroundImage {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.contentWrapper {
    position: relative;
    align-self: end;
    margin-right: -33px;
    width: 100%;
}

.gridContainer {
    gap: 20px;
    display: flex;
}

.leftColumn {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
}

.ratingSection {
    position: relative;
    flex-grow: 1;
}

.ratingGrid {
    gap: 20px;
    display: flex;
}

.ratingColumn {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 28%;
}

.coverColumn {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 72%;
    margin-left: 20px;
}

.coverImage {
    aspect-ratio: 0.69;
    object-fit: contain;
    object-position: center;
    width: 100%;
    margin-top: 46px;
    flex-grow: 1;
}

.rightColumn {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
    margin-left: 20px;
}

.novelInfo {
    position: relative;
    display: flex;
    margin-top: 19px;
    flex-direction: column;
}

.title {
    color: rgb(245, 136, 7);
    align-self: start;
    margin-left: 35px;
    font: 400 40px East Gates Personal Use, -apple-system, Roboto, Helvetica, sans-serif;
}

.description {
    color: rgb(5, 180, 199);
    margin: 25px -2px 136px 0;
    padding: 0 70px 0 20px;
    font: 500 20px
}

.translationRating {
    margin-top: 29px;
}

@media (max-width: 991px) {
    .container {
        max-width: 100%;
        padding: 0 0 100px 20px;
    }

    .contentWrapper {
        max-width: 100%;
    }

    .gridContainer {
        flex-direction: column;
        align-items: stretch;
        gap: 0;
    }

    .leftColumn, .rightColumn {
        width: 100%;
    }

    .ratingSection {
        max-width: 100%;
        margin-top: 40px;
    }

    .ratingGrid {
        flex-direction: column;
        align-items: stretch;
        gap: 0;
    }

    .ratingColumn {
        width: 100%;
    }

    .coverColumn {
        width: 100%;
        margin-left: 0;
    }

    .coverImage {
        margin-top: 40px;
    }

    .novelInfo {
        max-width: 100%;
        margin-top: 40px;
    }

    .title {
        margin-left: 10px;
    }

    .description {
        max-width: 100%;
    }

    .headerContainer {
        padding: 0 20px;
    }
}